/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://cobadesign.com
-----------------------------------------------------------------------------*/


/* =imports
-----------------------------------------------------------------------------*/
@import 'fontfamily';

@import 'colors';


/* =Fonts
-----------------------------------------------------------------------------*/


/* =SASS Variables
-----------------------------------------------------------------------------*/

$border: solid 1px;
$body-font-size: 10px;
$section-height: 96em;
$white-font: #ffffff;

%section-values {
	margin: 0 auto;
	max-width: 135em;
	width: 100%;
	height: $section-height;
	clear: both;
	padding-top: 7%;
	box-sizing: border-box;
}

%container-style {
	width: 100%;
}

%h2-values{
	text-align: center;
	margin-bottom:2%;
	color: $alt-font-color;
	font-size: 3em;
	margin:5% 0 5% 0;
}

%social-values{
	width: 4em;
	height: 4em;
	max-height: 100%;
	max-width: 100%;
	display: block;
	background-size: 6em;
	background-repeat: no-repeat;
	float: left;
	box-sizing: border-box;

}

%left-resume{
	float: left;
	width: 100%;
	max-width: 33em;
	box-sizing: border-box;
	margin-right: 1em;
}

%buttons{
	color: $red-color;
	background-color: #ffffff;
	border: solid $red-color .125em;
}

%listing-style{
	background-image: url(../imgs/bullet.png);
	background-repeat: no-repeat;
	list-style: none;
	background-position: center left;
	background-size: 0.9em;
	font-size: 1.7em;
	line-height: 1.5em;
	padding-left: 1.5em;

}

@mixin transform($radius){
	transform: $radius;
	-moz-transform: $radius;
	-ms-transform: $radius;
	-webkit-transform:$radius;
}

@mixin transition($radius){
		transition-delay:$radius;
		-webkit-transition-delay: $radius;
		-moz-transition-delay: $radius;
		-ms-transition-delay: $radius;
}

@mixin transition-timing($radius){
	transition-timing-function: $radius;
	-webkit-transition-timing-function: $radius;
	-moz-transition-timing-function: $radius;
	-ms-transition-timing-function: $radius;
}

@mixin box-shadow ($radius){
	box-shadow: $radius;
	-webkit-box-shadow: $radius;
	-moz-box-shadow: $radius;
	-ms-box-shadow: $radius;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/

a:link, a:visited, a:hover, a:focus, a:active

html{
	font-size: $body-font-size;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-size: $body-font-size;
	/*font-family: $helvetica;*/
	font-family: 'Exo 2', sans-serif;
	width: 100%;
	margin: 0 auto;

}

#main-container{
	width: 100%;
}

header.main-header{
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: #ffffff;
	padding: 2em 0 2em 0;
	border-bottom: 1px solid $font-color;

	img{
		float: left;
		width: 20em;
		padding-left: 2%;
	}
}

.jquery-style{
	border-bottom: solid $red-color 0.3em;

}

nav.main-nav{
	float: right;
	padding-right: 2%;
	position: relative;
	top: 4.5em;

	ul{
		clear: both;
		height: 2em;
		padding: 0;
		margin: 0;


		li{
			list-style: none;
			float: left;
			margin-right: 2em;
			display: inline;

			a{
				text-decoration: none;
				color: $font-color;
				font-size: 1.7em;
				font-weight: bold;

				&:visited{
					border-bottom: solid $red-color .3em;
				}

				&:hover, &:focus, &:active{
					border-bottom: solid $red-color .3em;
				}
			}
		}
	}
}

li.contact-nav{
	margin-right: 0em !important;
}

/* START STYLING SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/


section.first-container{
	@extend %container-style;
	background-image: url(../imgs/bg.jpg);
	background-position: center center;
	background-size: cover;
	height: $section-height;
	clear: both;
	width: 100%;

}

div#home{
	@extend %section-values;
	max-width: 135em;
}

div.letters-holder{
	height: 80em;
	width: 100%;
	max-width: 103em;
	margin: 0 auto;
	margin-top: 1%;

	h1{
		width: 100%;
		max-width:22em;
		color: #ffffff;
		font-size: 3em;
		text-align: center;
		margin: 0 auto;
		font-weight: 200;
		line-height: 1.5em;

	}

	img{
		margin: 0 auto;
		display: block;
		margin-top: 5%;
		margin-bottom: 5%;

	}

	a{
		max-width: 6em;
		height: 6em;
		max-height: 100%;
		width: 100%;
		display: block;
		position: relative;
		top: 11%;
		margin: 0 auto;
		background-image: url(../imgs/dwn-btn-white.png);
		background-size: 6em;
		background-repeat: no-repeat;

		&:hover, &:focus{
			background-image: url(../imgs/dwn-btn.png);
		}
	}

}


/*div.letters{
		width: 100%;
		max-width:0.6em;
		color: #ffffff;
		font-family: 'Londrina Shadow', cursive;
		text-shadow: 8px 8px rgba(255, 103, 103, 0.3);
		font-weight: bold;
		font-size: 24em;
		text-align: center;
		display: inline-block;
		@include transition(all 500ms cubic-bezier(0.865,-0.15,0.085,1.21));
		@include transition-timing(cubic-bezier(0.865,-0.15,0.085,1.21));

}

div#w{
		@include transform(translateX(-1px) translateY(68px) rotate(-17deg));
		@include transition( 0s);
}

div#e{
		@include transform(translateX(-3px) translateY(39px) rotate(-13deg));
		@include transition(.04s);

}
div#l{
		 @include transform(translateX(-3px) translateY(21px) rotate(-9deg));
		 @include transition(.08s);
}

div#c{
		 @include transform(translateX(0px) translateY(10px) rotate(0deg));
		 @include transition(.02s);
}

div#o{
		 @include transform(translateX(3px) translateY(21px) rotate(9deg));
		 @include transition(.32s);
}

div#m{
		 @include transform(translateX(3px) translateY(39px) rotate(13deg));
		 @include transition(.32s);
}

div#ee{
		 @include transform(translateX(1px) translateY(68px) rotate(17deg));
		 @include transition(.04s);
}*/


/* END SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/

section.second-container{
	@extend %container-style;

}

div#projects{
	@extend %section-values;
	border: solid red 1px;

	h2{
		@extend %h2-values;
	}

}

div.port-item{
	border: $border red;
	width: 100%;
	max-width: 33.5em;
	height: 25em;
	float: right;
	overflow: hidden;


}

div#nipost{

	a{
		img{
			width: 100%;
			max-width: 34em;
		}
	}
}

/* END SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION ABOUT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/

section.third-container{
	@extend %container-style;
	background-color: $alt-gray-color;
	height: $section-height;

}

div#about{
	@extend %section-values;
	height: 80em;
	border: $border red;


	h2{
		@extend %h2-values;
		color:$alt-font-color;
	}

	p{
		font-size: 2.5em;
		line-height: 1.6em;
		color: $white-font;
		font-weight: 300;
		width: 100%;
		max-width: 28.1em;
		margin-left: 11%;
		border: $border red;
		float: left;


		a{
			text-decoration: none;
			font-size: 1em;
			color: $white-font;
			color: $alt-font-color;
			font-weight: bold;

			&:hover, &:focus{
				color: #ffffff;
			}
		}
	}
}

div.img-holder{
	width: auto;
	border: $border red;
	display: block;
	float: right;
	margin-right: 11%;

	&>img{
	width: 100%;
	max-width: 28.2em;
	clear: both;
	margin-bottom: 5%;

	}

}

div.social{
	width: 100%;
	max-width: 12em;
	border: $border red;
	height: 100%;
	max-height: 4em;
	margin: 0 auto;
}

a.social-one{
	@extend %social-values;
	background-image: url(../imgs/in.png);
	background-size: 4em;

	&:hover, &:focus{
		background-image: url(../imgs/in-white.png);
	}
}

a.social-two{
	@extend %social-values;
	background-image: url(../imgs/pin.png);
	background-size: 3.7em;

	&:hover, &:focus{
		background-image: url(../imgs/pin-white.png);
	}
}

a.social-three{
	@extend %social-values;
	background-image: url(../imgs/rss.png);
	background-size: 3.7em;


	&:hover, &:focus{
		background-image: url(../imgs/rss-white.png);
	}
}

/* END SECTION ABOUT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION RESUME AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/


section#fourth-container{
	@extend %container-style;
	height: $section-height + 112;
	clear: both;


}

div#resume{
	@extend %section-values;
	height: 195em;

	h2{
		@extend %h2-values;
	}
}

div.dwn-pdf{
	@extend %left-resume;
	margin-bottom: 4em;

	a{
		text-decoration: none;
		padding: 1.9em 0 0 1.5em;
		font-size: 2em;
		font-weight: 600;
		text-align: left;
		color: #ffffff;
		background-color: $red-color;
		margin: 0 auto;
		box-sizing: border-box;
		display: block;
		background-image: url(../imgs/pdf-btn-white.png);
		background-repeat: no-repeat;
		background-size: 2em;
		background-position: 13em 1.1em;
		height: 5em;

		&:hover, &:focus{
			@extend %buttons;
			background-image: url(../imgs/pdf-btn-red.png);
		}

	}
}

div.skill-info{
	@extend %left-resume;
	height: 153em;
	background-color: $resume-gray;
	padding: 6em 3.5em 0 3.5em;

	h3{
		font-size:2.5em;
		color: $red-color;
		margin-bottom: 3em;
		text-align: center;
	}

	h4{
		font-size: 2em;
	}

	hr{
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-right: 1em;
		border: solid 0.2em $red-color;
		width:5.5em;
	}

	ul{
		margin-bottom: 4em;

		li{
			@extend %listing-style;
		}
	}

}

div.resume-info{
	float: right;
	max-width:68.2em;
	width: 100%;
}

div.education{
	color: $alt-font-color;

	h3{
		font-size:2.5em;
		color: $red-color;
		margin-bottom: 1em;
	}

	h4{
		font-size: 2em;
		margin-bottom: .5em;

		span{
			font-weight: 300;
		}
	}

	p{
		font-size: 1.7em;
		line-height: 1.5em;
		margin-bottom: 2em;
	}

	ul{
		margin-bottom: 2em;

		li{
			@extend %listing-style;
		}
	}
}


/* END SECTION RESUME AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/

section#fifth-container{
	@extend %container-style;
	/*background-color: $alt-gray-color;*/
	background-image: url(../imgs/contact-us-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}

div#contact-me{
	@extend %section-values;
	height: 85em;
	padding-top: 7%;

	h2{
		text-align: center;
		margin-bottom:2%;
		color: $alt-font-color;
		font-size: 3em;
		margin:2% 0 2% 0;
	}
}

#form-holder{
}

form#get-in-touch{
	margin: 0 auto;
	width: 100%;
	max-width: 85em;
}

input,textarea{
	margin-bottom: 1.5em;
	display: block;
    width: 100%;
    max-width: 61em;
    height: 100%;
    padding: 1.5em;
    font-size: 1.4em;
    line-height: 1.42857143;
    color: $font-color;
    border: $border $alt-font-color;
    border-radius: .5em;
    @include box-shadow(inset 0.2em 0.2em 0.4em $alt-font-color);
    box-sizing: border-box;

}

button{
	padding: 1em 1em;
	border: $red-color;
	border-radius: .3em;
	font-size: 3em;
	font-weight: 600;
	color: #ffffff;
	background-color: $red-color;
	margin: 0 auto;
	box-sizing: border-box;
	display: block;

	&:hover, &:focus{
		@extend %buttons;
	}
}

footer.main-footer{
	padding: 4em 4em;

	p{
		text-align: center;
		font-size: 1.5em;
		font-weight: 700;
		color: $alt-font-color;
	}
}

/* END SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/

/* START NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/

header.nipost-header{
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: #ffffff;
	padding: 2em 0 2em 0;
	border-bottom: 1px solid $font-color;

	img{
		float: left;
		width: 20em;
		padding-left: 2%;
	}
}

.jquery-style{
	border-bottom: solid $red-color 0.3em;

}

nav.main-nav{
	float: right;
	padding-right: 2%;
	position: relative;
	top: 4.5em;

	ul{
		clear: both;
		height: 2em;
		padding: 0;
		margin: 0;


		li{
			list-style: none;
			float: left;
			margin-right: 2em;
			display: inline;

			a{
				text-decoration: none;
				color: $font-color;
				font-size: 1.7em;
				font-weight: bold;

				&:visited{
					border-bottom: solid $red-color .3em;
				}

				&:hover, &:focus, &:active{
					border-bottom: solid $red-color .3em;
				}
			}
		}
	}
}

li.contact-nav{
	margin-right: 0em !important;
}

section.nipost-first-container{
	@extend %section-values;
	height: 6000px;
	border: solid red 1px;
	padding-top: 7%;

	h2{
		@extend %h2-values;
		margin-bottom: 0.5em;
	}

	&>img{
		width: 100%;
		max-width: 100em;
		display: block;
		margin: 0 auto;
		margin-bottom:0;
	}

	&>p{
		font-size: 1.9em;
		line-height: 1.4em;
		color: $font-color;
		font-weight: 300;
		width: 100%;
		max-width: 45em;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 3em;
	}

	h3{
		@extend %h2-values;
		margin-bottom: 1em;
	}
}

div.sketches{
	height: 100%;
	max-height: 70em;
	margin-bottom: 5em;

	&>p{
		font-size: 2.5em;
		color: $font-color;
		font-weight: 300;
		text-align: center;
		margin-bottom: 3%;
	}

	&>img{
		width: 100%;
	    max-width: 100em;
	    margin: 0 auto;
	    display: block;
	}
}



/* START MEDIA QUERIES
-----------------------------------------------------------------------------*/





/* =Cell Phone Media Query Portrait
-----------------------------------------------------------------------------*/

@media only screen
  and (min-width: 320px)
  and (max-width: 740px)
  and (orientation: portrait) {

	section#home{
		width: 100%;
	}

	header.main-header{
		width: 100%;
		height: 17em;

		img{
			margin: 0 auto !important;
			display: block;
			width: 20em;
			float: none;
		}
	}

	nav.main-nav{
	float: none;
	padding: 0 2em 0 2em;

		ul{
			margin: 0 auto;
			width: 100%;
			max-width: 30em;
		}
	}

	div#projects{
	margin: 0 auto;
	border: $border pink;
	height: $section-height - 20;
	clear: both;
	width: 100%;
	padding: 7% 2% 0% 2%;
	box-sizing: border-box;

		h2{
			text-align: center;
			margin-bottom:2%;
			color: $font-color;
			font-size: 3em;
			margin:2% 0 2% 0;
		}

	}

	div.port-item{
		border: $border red;
		width: 48.4%;
		margin-right: 2%;
		height: 15em;
		float: right;
		margin-bottom: 2%;


	}

	div.port-item-last{
		margin-right: 0% !important;
		border: $border red;
		width: 48.4%;
		height: 15em;
		float: right;
		margin-bottom: 2%;
	}

	div#margin-out{
		margin-right: 0;
	}

	div#margin-outter{
		margin-right: 0;
	}

}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


}


/* =iPad Media Query
-----------------------------------------------------------------------------*/

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* =Media Query for Laptops
-----------------------------------------------------------------------------*/

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

}
